
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
}


.weather-container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  margin: 100px auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.weather-container h2 {
  margin-bottom: 20px;
}


.weather-container input {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  outline: none;
}


.weather-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.weather-container button:hover {
  background: #007bff;
}


.weather-result {
  margin-top: 20px;
}

.weather-result h3 {
  margin-bottom: 10px;
}


.error {
  color: red;
  margin-top: 10px;
}